#bussiness-sec {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.container-bussiness {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-bussiness, .btn-int {
  background: transparent;
  padding: 30px 51px;
  border: 1px solid #1074e7;
  color: #066ade;
  font-weight: bold;
  font-size: 15px;
  border-radius: 5px;
}

.para-bussiness {
  font-size: 20px;
  margin: 17px 0px 50px 0px;
  padding: 0px 16em;
  text-align: center;
  color: rgb(88, 96, 105);
}

#bussiness-sec h1 {
  font-size: 4em;
  margin: 13px 0px 11px 0px;
}

/* section nine */

#security-sec {
  padding: 4em 11em;
}

.security-container {
  display: flex;
}

.security-codes {
  padding-right: 6em;
  text-align: justify;
}

#security-para {
  font-size: 13px;
  color: #586069;
}

#security-anchor {
  font-size: 13px;
}

#security-sec h4 {
  font-size: 17px;
  margin: 15px 0px;
}

@media screen and (max-width:425px) {
  #bussiness-sec h5 {
    font-size: 3em;
  }
  #bussiness-sec h1 {
    font-size: 9em;
    text-align: center;
    margin: 64px 0px 11px 0px;
  }
  .para-bussiness {
    font-size: 60px;
    margin: 54px 0px 50px 0px;
    line-height: 80px;
    padding: 0px 2em;
  }
  .btn-bussiness, .btn-int {
    margin: 2em 0em;
    padding: 90px 160px;
    font-weight: 400;
    font-size: 40px;
    text-transform: capitalize;
    border-radius: 9px;
  }
  /* Security */
  #security-sec img {
    height: 100vh;
    width: 200%;
  }
  .security-container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  .security-img {
    /* display: flex; */
    display: flex;
    align-self: normal;
  }
  #security-sec h4 {
    font-size: 45px;
    margin: 30px 0px;
  }
  #security-para {
    font-size: 40px;
  }
  #security-anchor {
    font-size: 35px;
    position: unset;
  }
  .security-codes {
    padding: 4em;
  }
}