section.first-sec {
    /* height: 90vh; */
    background: #3f4448;
    display: flex;
    padding-bottom: 1em;
}

.info-block {
    padding: 10em 0em 0em 9em;
    background: #3f4448;
    color: white;
}

.formBlock {
    padding: 3em 6em 0em 5em;
}

form a {
    color: blue;
}

form {
    border: 1px solid;
    padding: 2em;
    width: 23em;
    box-shadow: 0px 1px 4px 0px black;
    border-radius: 6px;
    background: #fafbfc;
}

label {
    display: block;
    margin-bottom: 2px;
}

form input:focus {
    background-color: #eee;
}

form input {
    width: -webkit-fill-available;
    padding: 12px;
    margin-bottom: 10px;
    border-radius: 3px;
    border: 1px solid transparent;
    border: 1px solid #d1d5da;
}

form label {
    font-weight: bold;
}

.buttonForm {
    padding: 8px 3em;
    margin: 22px 0px 15px 0px;
    background: white;
    color: black;
}

form p {
    font-size: 12px;
    margin: 5px 0px 0px 0px;
    text-align: justify;
}

.buttonForm {
    padding: 18px 120px;
    margin: 21px -6px;
    background: #2ebc4f;
    color: white;
    font-weight: bold;
    font-size: 13px;
    border: 1px solid;
}

.buttonForm span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.buttonForm span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.buttonForm:hover span {
    padding-right: 25px;
}

.buttonForm:hover span:after {
    opacity: 1;
    right: 0;
}

.buttonForm:hover {
    background: black;
    color: white;
    font-weight: 400;
}

.main-heading {
    font-size: 6em;
    line-height: 88px;
    margin: 0px 0px 30px 0px;
}

.main-content {
    font-size: 24px;
    color: #aaada7;
}

.main-content a {
    color: white;
    text-decoration: none;
}

.btn-registeration {
    display: none;
}

@media screen and (max-width: 425px) {
    .info-block {
        padding: 5em 7em 11em 7em;
        flex-direction: column;
        text-align: -webkit-center;
    }
    section.first-sec {
        flex-direction: column;
        align-items: center;
    }
    .formBlock {
        display: none;
    }
    .main-heading {
        font-size: 8em;
        line-height: 120px;
        margin: 0px 0px 52px 0px;
    }
    .main-content {
        font-size: 60px;
    }
    .btn-singup {
        padding: 20px 24px;
        background: rgb(46, 188, 79);
    }
    .btn-registeration {
        display: flex;
        padding: 69px 108px;
        margin: 2em 0px;
        font-size: 45px;
        color: white;
        border-radius: 10px;
        background: rgb(46, 188, 79);
        border: 1px solid transparent;
        outline: none;
    }
}