* {
  padding: 0px;
  margin: 0px;
}

body {
  /* display: flex; */
  /* font-family: 'Lexend Deca', sans-serif; */
  font-family: 'Rubik', sans-serif;
  overflow-x: hidden;
}

@media screen and (max-width:425px) {
  body{
    display: flex;
  }
}